.app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 800px;
    width: 430px;

    border-radius: 20px;

    
    background: url("../images/cold-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.warm {
    background: url("../images/warm-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.websiteTitle {
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
}


.searchCity {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    width: 350px;

    background: inherit;
    z-index: 2;
}

.searchField {
    padding: 10px 13px 10px 13px;
    width: 100%;
    height: 30px;

    border: none;
    outline: none;

    background: rgba(255, 255, 255, 0);

    font-size: 1.2em;
    z-index: 2;

}

.searchField::placeholder {
    color: rgba(61, 61, 61, 0.541);
}

.searchBlur {
    background: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 460px;
    background-position-x: -18px;
    background-position-y: -90px;


    position: absolute;
    width: 400px;
    height: 460px;

    left: -25px;
    right: 0;
    top: -25px; 
    bottom: 0;
    
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
    filter: blur(8px);
    z-index: -1;
}