.weatherCard {
    margin-top: 100px;
    
    width: 350px;
    height: 420px;

    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.342);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.wi {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 4em;
}

.temperature {
    font-size: 5em;
    font-weight: 500;
}

.tempUnit {
    font-size: 0.5em;
}

.description {
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 10px;
}

.city {
    font-size: 1.1em;
}

